.input-with-icon-container {
  position: relative;
}

/* DEPRECATED - We are replacing this with the .map-icon rule */
/* .input-icon { ... } */

.custom-form-input {
  height: 60px;
  padding-left: 85px !important;
  font-size: 1.5rem !important;
  font-weight: bold;
  text-transform: uppercase;
  color: black !important;
  background-color: white; 
  border: none;
}

.reg-input {
  background-color: #FFD700 !important;
}

/* New class for postcode input to override default background if needed */
.postcode-input {
  background-color: white !important;
}

.custom-form-button {
    height: 60px;
    font-size: 1.5rem !important;
}

.gb-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 65px;
  background-color: #00247d;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
}

.gb-icon .gb-text {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: white;
}

/* --- New Map Icon Styles --- */
.map-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 65px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
  
  /* Image background styles */
  background-size: cover;
  background-position: center;
  
  /* Make the icon stand out */
  font-size: 2rem;
  color: #dc3545; /* Red */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7); /* Add a drop shadow */
}
.form-header-text {
  color: white;
  text-align: center;
  padding: 1rem 1rem 1.5rem 1rem;
}

.form-header-text p {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

.form-header-text span {
  font-weight: bold;
  font-size: 2.2rem;
}